<div class="container">
    <h1 class="title">Yourdle</h1>
    <div class="card-container">
        <p-card class="custom-card">
            <ng-template #title>
                <span class="card-title">Egyjátékos</span>
            </ng-template>
            <ng-template #subtitle>
                <span class="card-subtitle">Tedd magad próbára egyjátékos módban!</span>
            </ng-template>
            <ng-template #footer>
                <p-button class="card-button" (click)="Egyjatekos()" ><a>Egyjátékos</a> </p-button>
            </ng-template>
        </p-card>
        <p-card class="custom-card">
            <ng-template #title>
                <span class="card-title">Toplista</span>
            </ng-template>
            <ng-template #subtitle>
                <span class="card-subtitle">Tekintsd meg legsikeresebb játékosaink!</span>
            </ng-template>
            <ng-template #footer>
               <p-button class="card-button" (click)="Toplista()"><a>Toplista</a> </p-button>
            </ng-template>
        </p-card>
    </div>
</div>