<p-dialog [(visible)]="visible" modal [closable]="true" [dismissableMask]="true" styleClass="profile-dialog">
    <div class="profile-container">
      <div class="profile-tabs">
        <button pButton label="Profilom" class="profile-btn"></button>
        <button (click)="MatchHistory()" pButton label="Meccs előzmény" class="profile-btn"></button>
      </div>
  
      <h2 class="profile-title">Profilom</h2>
  
      <div class="profile-image">
        <img [src]="user.image || ''" alt="Profilkép" />
        <div class="profile-image-buttons">
          <div class="card flex justify-center">
            <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-upload" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Profilkép változtatása" />
        </div>
          <button pButton label="Kép törlése" class="profile-btn" (click)="deleteProfilePicture()"></button>
        </div>
      </div>
  
      <div class="input-group">
        <label for="username">Felhasználónév</label>
        <input id="username" type="text" pInputText class="custom-input" [(ngModel)]="user.name" />
      </div>
  
      <div class="input-group">
        <label for="email">Email</label>
        <input id="email" type="text" pInputText class="custom-input" [(ngModel)]="user.email" />
      </div>
  
      <div class="button-group">
        <button pButton (click)="confirmSave()" label="Változások mentése" class="save-button"></button>
        <button pButton  (click)="ChangePassword()" label="Jelszó változtatása" class="password-button"></button>
      </div>
      <button pButton (click)="Logout()" label="Kijelentkezés" class="password-button exit-button"></button>

    </div>
  </p-dialog>

  <p-confirmDialog />