<div class="category-creator p-4">
  <h2>Kategória készítő</h2>
  
  <div class="p-field-category">
    <label for="category-name" id="category_name">Kategória neve</label>
    <input id="category-name" type="text" pInputText class="p-inputtext p-component w-full" [(ngModel)]="categoryName" />
  </div>
  
  <div class="p-field-public">
    <label for="public">Publikus-e</label>
    <p-checkbox label="Publikus" binary="true" [(ngModel)]="isPublic"></p-checkbox>
  </div>
  
  <div class="p-field-types">
    <label for="game-types">Játék típusok</label>
    <p-dropdown id="game-types" placeholder="Típusok" [options]="gameTypes" (onChange)="onGameTypeChange($event)"></p-dropdown>
  </div>
  
  <div *ngFor="let category of selectedCategories">
    <div class="p-field-number">
      <label for="form-count-{{category}}">Lehetőségek száma ({{category}})</label>
      <input id="form-count-{{category}}" type="number" min="1" [(ngModel)]="formCounts[category]" (change)="generateForms(category)" />
    </div>
    
    <div id="formsContainer">
      <div *ngFor="let form of forms[category]; let i = index">
        <h3>Form {{i + 1}} ({{category}})</h3>
        <div *ngIf="category === 'Klasszikus'" class="p-field">
          <label>Answer</label>
          <input type="text" [(ngModel)]="form.answer" />
          <label>Gender</label>
          <input type="text" [(ngModel)]="form.gender" />
          <label>Height</label>
          <input type="number" min="1" [(ngModel)]="form.height" />
          <label>Weight</label>
          <input type="number" min="1" [(ngModel)]="form.weight" />
          <label>Hair Color</label>
          <input type="text" [(ngModel)]="form.hairColor" />
          <label>Address</label>
          <input type="text" [(ngModel)]="form.address" />
          <label>Életkor</label>
          <input type="number" min="1" [(ngModel)]="form.age" />
        </div>
        <div *ngIf="category === 'Kép'" class="p-field">
          <label>Answer</label>
          <input type="text" [(ngModel)]="form.answer" />
          <label>Picture</label>
          <input type="file" (change)="onImageSelected($event, form)" accept="image/*" />
          <img *ngIf="form.picture" [src]="form.picture" alt="Selected Image" />
        </div>
        <div *ngIf="category === 'Idézet'" class="p-field">
          <label>Answer</label>
          <input type="text" [(ngModel)]="form.answer" />
          <label>Quote</label>
          <input type="text" [(ngModel)]="form.quote" />
        </div>
        <div *ngIf="category === 'Emoji'" class="p-field">
          <label>Answer</label>
          <input type="text" [(ngModel)]="form.answer" />
          <label>First Emoji</label>
          <div class="showcase-container flex-column">
            <div class="row-showcase justify-center" *ngIf="!form.firstEmojiSelected">
              <div class="emoji-picker-container">
                <ch-emoji-picker [width]="350" [height]="350" [autofocus]="false" (onEmojiSelected)="handleEmojiSelected($event, 'firstEmoji', form)"></ch-emoji-picker>
              </div>
            </div>
            <div class="row-showcase justify-center" *ngIf="form.firstEmojiSelected">
              <ch-text-box [(value)]="form.firstEmoji" [width]="350" placeholder="Pick an emoji" readonly></ch-text-box>
            </div>
          </div>
          <label *ngIf="form.firstEmojiSelected">Second Emoji</label>
          <div class="showcase-container flex-column" *ngIf="form.firstEmojiSelected">
            <div class="row-showcase justify-center" *ngIf="!form.secondEmojiSelected">
              <div class="emoji-picker-container">
                <ch-emoji-picker [width]="350" [height]="350" [autofocus]="false" (onEmojiSelected)="handleEmojiSelected($event, 'secondEmoji', form)"></ch-emoji-picker>
              </div>
            </div>
            <div class="row-showcase justify-center" *ngIf="form.secondEmojiSelected">
              <ch-text-box [(value)]="form.secondEmoji" [width]="350" placeholder="Pick an emoji" readonly></ch-text-box>
            </div>
          </div>
          <label *ngIf="form.secondEmojiSelected">Third Emoji</label>
          <div class="showcase-container flex-column" *ngIf="form.secondEmojiSelected">
            <div class="row-showcase justify-center" *ngIf="!form.thirdEmojiSelected">
              <div class="emoji-picker-container">
                <ch-emoji-picker [width]="350" [height]="350" [autofocus]="false" (onEmojiSelected)="handleEmojiSelected($event, 'thirdEmoji', form)"></ch-emoji-picker>
              </div>
            </div>
            <div class="row-showcase justify-center" *ngIf="form.thirdEmojiSelected">
              <ch-text-box [(value)]="form.thirdEmoji" [width]="350" placeholder="Pick an emoji" readonly></ch-text-box>
            </div>
          </div>
        </div>

        <div *ngIf="category === 'Leírás'" class="p-field">
          <label>Answer</label>
          <input type="text" [(ngModel)]="form.answer" />
          <label>Description</label>
          <input type="text" [(ngModel)]="form.description" />
        </div>

      </div>
    </div>
  </div>
  
  

  <p-button label="Létrehozás" class="p-button-primary" (onClick)="createCategory()"></p-button>

</div>
