<h2>Kategória készítő</h2>
<div class="category-creator p-4">

  
  <div class="p-field-category">
    <label for="category-name" id="category_name">Kategória neve</label>
    <input id="category-name" type="text" pInputText class="p-inputtext p-component w-full" [(ngModel)]="categoryName" />
  </div>
  
  <div class="p-field-public">
    <label for="public">Publikus-e</label>
    <p-checkbox label="Publikus" binary="true" [(ngModel)]="isPublic"></p-checkbox>
  </div>
  
  <div class="p-field-types">
    <label for="game-types">Játék típusok</label>
    <p-dropdown id="game-types" placeholder="Típusok" [options]="gameTypes" (onChange)="onGameTypeChange($event)"></p-dropdown>
  </div>
  
  <div *ngFor="let category of selectedCategories">
    <div class="p-field-number">
      <label for="form-count-{{category}}">Lehetőségek száma ({{category}})</label>
      <input 
      id="form-count-{{category}}" 
      type="number" 
      min="1" 
      max="200" 
      [(ngModel)]="formCounts[category]" 
      (ngModelChange)="onFormCountChange(category)" />
    </div>
    
    <div id="formsContainer">
      <div class="forms-grid">
        <div class="form-row" *ngFor="let form of forms[category]; let i = index">
          <div class="form-item">
            <h3>Form {{i + 1}} ({{category}})</h3>
            <div *ngIf="category === 'Klasszikus'" class="p-field">
              <label>Válasz</label>
              <input type="text" [(ngModel)]="form.answer" />
              <label>Nem</label>
              <input type="text" [(ngModel)]="form.gender" />
              <label>Magasság</label>
              <input type="number" min="1" [(ngModel)]="form.height" />
              <label>Súly</label>
              <input type="number" min="1" [(ngModel)]="form.weight" />
              <label>Hajszín</label>
              <input type="text" [(ngModel)]="form.hairColor" />
              <label>Származás</label>
              <input type="text" [(ngModel)]="form.address" />
              <label>Életkor</label>
              <input type="number" min="1" [(ngModel)]="form.age" />
            </div>

            <div *ngIf="category === 'Kép'" class="p-field">
              <label>Válasz</label>
              <input type="text" [(ngModel)]="form.answer" />
              <label>Kép</label>
              <input type="file" (change)="onImageSelected($event, form)" accept="image/*" />
              <img *ngIf="form.picture" [src]="form.picture" alt="Selected Image" />
            </div>

            <div *ngIf="category === 'Idézet'" class="p-field">
              <label>Válasz</label>
              <input type="text" [(ngModel)]="form.answer" />
              <label>Idézet</label>
              <input type="text" [(ngModel)]="form.quote" />
            </div>

            <div *ngIf="category === 'Emoji'" class="p-field">
              <label>Válasz</label>
              <input type="text" [(ngModel)]="form.answer"/>
              
              <label>Első Emoji</label>
              <div class="showcase-container flex-column">
                <div class="row-showcase justify-center" *ngIf="!form.firstEmojiSelected">
                  <div class="emoji-picker-container">
                    <ch-emoji-picker [width]="350" [height]="350" [autofocus]="false" (onEmojiSelected)="handleEmojiSelected($event, 'firstEmoji', form)"></ch-emoji-picker>
                  </div>
                </div>
                <div class="row-showcase justify-center" *ngIf="form.firstEmojiSelected">
                  <ch-text-box [(value)]="form.firstEmoji" [width]="350" [disabled]="true"></ch-text-box>
                </div>
              </div>
              
              <label *ngIf="form.firstEmojiSelected">Második Emoji</label>
              <div class="showcase-container flex-column" *ngIf="form.firstEmojiSelected">
                <div class="row-showcase justify-center" *ngIf="!form.secondEmojiSelected">
                  <div class="emoji-picker-container">
                    <ch-emoji-picker [width]="350" [height]="350" [autofocus]="false" (onEmojiSelected)="handleEmojiSelected($event, 'secondEmoji', form)"></ch-emoji-picker>
                  </div>
                </div>
                <div class="row-showcase justify-center" *ngIf="form.secondEmojiSelected">
                  <ch-text-box [(value)]="form.secondEmoji" [width]="350" [disabled]="true"></ch-text-box>
                </div>
              </div>
              
              <label *ngIf="form.secondEmojiSelected">Harmadik Emoji</label>
              <div class="showcase-container flex-column" *ngIf="form.secondEmojiSelected">
                <div class="row-showcase justify-center" *ngIf="!form.thirdEmojiSelected">
                  <div class="emoji-picker-container">
                    <ch-emoji-picker [width]="350" [height]="350" [autofocus]="false" (onEmojiSelected)="handleEmojiSelected($event, 'thirdEmoji', form)"></ch-emoji-picker>
                  </div>
                </div>
                <div class="row-showcase justify-center" *ngIf="form.thirdEmojiSelected">
                  <ch-text-box [(value)]="form.thirdEmoji" [width]="350" [disabled]="true"></ch-text-box>
                </div>
              </div>
            </div>
            
    
            <div *ngIf="category === 'Leírás'" class="p-field">
              <label>Válasz</label>
              <input type="text" [(ngModel)]="form.answer" />
              <label>Leírás</label>
              <input type="text" [(ngModel)]="form.description" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  

  <div class="button-wrapper">
    <p-button label="Létrehozás" class="p-button-primary" (onClick)="createCategory()"></p-button>
  </div>
  

</div>
