<p-dialog [(visible)]="visible" modal [closable]="false" [dismissableMask]="true" styleClass="login-dialog">
    <div class="login-container">
        
      <button class="close-button" (click)="closeDialog()">✕</button>
  
      <h2 class="login-title">Elfelejtett jelszó!</h2>
      

      <div class="input-group">
        <label for="email">Kérlek add meg az emailed!</label>
        <input [(ngModel)]="email" id="email" type="text" pInputText class="custom-input" />
      </div>
      
        <div class="forgot-password">
            <a (click)="closeDialog()">Mégsem</a>
        </div>
  
      <button pButton (click)="ForgottenPassword()"  label="Elfelejtett jelszó" class="login-button"></button>
    </div>
  </p-dialog>
  
  <p-toast />