<p-dialog [(visible)]="visible" modal [closable]="true" [dismissableMask]="true" styleClass="login-dialog">
    <div class="login-container">
        
  
      <h2 class="login-title">Elfelejtett jelszó!</h2>
      

      <div class="input-group">
        <label for="email">Kérlek add meg az emailed!</label>
        <input [(ngModel)]="email" id="email" type="text" pInputText class="custom-input" />
      </div>
      
     
      <button pButton (click)="ForgottenPassword()"  label="Elfelejtett jelszó" class="login-button"></button>

      <div class="forgot-password">
        <a (click)="closeDialog()">Mégsem</a>
      </div>


    </div>
  </p-dialog>
  
  <p-toast />