
:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.card{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.category-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category-group {
    flex: 1;
    min-width: 200px;
}
