<p-dialog [(visible)]="visible" modal [closable]="true" [dismissableMask]="true" styleClass="login-dialog">
    <div class="login-container">
        
      <h2 class="login-title">Bejelentkezés</h2>
  
      <div class="input-group">
        <label for="email">Email</label>
        <input [(ngModel)]="user.email" id="email" type="text" pInputText class="custom-input" />
      </div>
  
      <div class="input-group">
        <label for="password">Jelszó</label>
        <input [(ngModel)]="user.passwd" id="password" type="password" pInputText class="custom-input" />
      </div>
  
      <div class="forgot-password">
        <a (click)="openForgottenPasswordDialog()">Elfelejtett jelszó</a>
      </div>
  
      <button pButton (click)="Login()"  label="Bejelentkezés" class="login-button"></button>
      
      <div class="register-link">
        <a (click)="openRegisterDialog()">Még nincs fiókom</a>
      </div>
      
      
    </div>
  </p-dialog>
  
  <p-toast />