<div class="lobby-container">
    <h2 class="room-title">{{ roomName }} szobája</h2>
  
    <div *ngIf="players.length > 0" class="player-list">
      <h3>Játékosok:</h3>
      <ul>
        <li *ngFor="let player of players">
          <span class="player-name">{{ player.name }}</span>
        </li>
      </ul>
    </div>
    <div *ngIf="players.length === 0" class="no-players">
      <p>Nincsenek jelen játékosok.</p>
    </div>
  
    <div class="start-game-button">
      <button pButton label="Játék indítása" icon="pi pi-play" (click)="startGame()" [disabled]="players.length < 2 "></button>
    </div>
  </div>
  