<h3 class="title">Klasszikus</h3>
<div class="game-container">
  <!-- Autocomplete mező a karakter kiválasztásához -->
  <div class="autocomplete-wrapper">
    <p-autoComplete [(ngModel)]="selectedCharacter"
                    (keyup.enter)="submitCharacter()"
                    [suggestions]="filteredCharacters"
                    (completeMethod)="filterCharacters($event)"
                    placeholder="Írd be a hős nevét ..."
                    [dropdown]="true">
    </p-autoComplete>
    <button (click)="submitCharacter()" class="submit-button">
      <span class="arrow-icon">▶</span>
    </button>
  </div>
  
  

  <!-- Korábbi tippek megjelenítése -->
  <div class="guess-container">
    <table class="guess-table">
      <thead>
        <tr>
          <th *ngFor="let detail of characterProperties">{{ detail.label }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let guess of previousGuesses">
          <td *ngFor="let detail of characterProperties" 
              [ngClass]="{
                'correct': isPropertyCorrect(detail.key, guess),
                'incorrect': !isPropertyCorrect(detail.key, guess)
              }">
            {{ detail.key === 'birthDate' ? (guess[detail.key] | date: 'yyyy') : guess[detail.key] }}
            <span *ngIf="showPropertyHint(detail.key, guess)" class="hint-arrow">
              {{ getPropertyHint(detail.key, guess) }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  