<h3 class="title">Emoji</h3>
<div class="game-container">


  <!-- Korábbi tippek megjelenítése -->
  <div class="emoji-container">
    <span *ngFor="let emoji of allEmojis; let i = index" class="emoji">
      {{ i < revealedEmojis.length ? revealedEmojis[i] : '?' }}
    </span>
  </div>
  

  <div class="guesses-container">
    <p *ngFor="let guess of previousGuesses" 
       [ngClass]="{'correct-guess': guess === targetCharacter?.answer, 'incorrect-guess': guess !== targetCharacter?.answer}" 
       class="guess">
      {{ guess }}
    </p>
  </div>


  <!-- Autocomplete mező a karakter kiválasztásához -->
<div class="input-container">
    <p-autoComplete [(ngModel)]="selectedCharacter"
    (keyup.enter)="submitCharacter()"
    (onSelect)="onCharacterSelect($event)"
    [suggestions]="filteredCharacters"
    (completeMethod)="filterCharacters($event)"
    placeholder="Írd be a karakter nevét ...">
  </p-autoComplete>
  <button (click)="submitCharacter()" class="submit-button">
    <span class="arrow-icon">▶</span>
  </button>
</div>


<div class="navigation-buttons-container">
  <div class="navigation-buttons">
    <button *ngIf="categoryData?.classic && currentGame !== 'classic-game'" (click)="navigateToGame('classic-game')" class="nav-button">Klasszikus Játék</button>
    <button *ngIf="categoryData?.quote && currentGame !== 'quote-game'" (click)="navigateToGame('quote-game')" class="nav-button">Idézet Játék</button>
    <button *ngIf="categoryData?.emoji && currentGame !== 'emoji-game'" (click)="navigateToGame('emoji-game')" class="nav-button">Emoji Játék</button>
    <button *ngIf="categoryData?.picture && currentGame !== 'picture-game'" (click)="navigateToGame('picture-game')" class="nav-button">Kép Játék</button>
    <button *ngIf="categoryData?.description && currentGame !== 'description-game'" (click)="navigateToGame('description-game')" class="nav-button">Leírás Játék</button>
  </div>
</div>